apt_repos:
  - main:
      comment: "main repository"
      uri: http://ftp.de.debian.org/debian
      codename: wheezy
      components: main
      sources: False
      enable: True
  - backports:
      comment: "backports"
      uri: http://ftp.de.debian.org/debian
      codename: wheezy-backports
      components: main contrib
      sources: False
      enable: False
    
apt_option:
  - clean_sources_list: False
  - clean_preferences: True

apt_pinning:
  default_target:
    - Package: '*'
      Pin: release n=wheeze
      Pin-Priority: 910
      comment: main repository target
  salt:
    - Package: 'salt*'
      Pin: release o=saltstack.com
      Pin-Priority: 1001
    - Package: python-requests
      Pin: release o=saltstack.com
      Pin-Priority: 1001
      comment: required by saltstack
